<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Légende+Sheridan Wedding</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oranienbaum&family=Pinyon+Script&family=Qwitcher+Grypen:wght@400;700&family=The+Nautigal:wght@400;700&family=Whisper&family=WindSong:wght@400;500&display=swap" rel="stylesheet">
    <!-- Fonts -->

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!-- Bootstrap -->

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <!-- Icons -->

    <!-- Styles -->
    <link rel="stylesheet" href="styles/home.css" />
    <!-- Styles -->

  </head>
  <div class="m-nav">
      <div class="container text-center">
        <div class="row pb-2">
          <div class="col pt-4">
            <h1 class="display-1">Légende + Sheridan</h1>
          </div>
        </div>
        <div class="row w-75 mx-auto align-items-center mb-3">
          <div class="col nav-button">
            Invités
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </div>
          <div class="col nav-button">
            Programme
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </div>
          <div class="col nav-button">
            Cadeaux
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  <body>
    

    <div id="intro" class="section">
      <div class="img-container container text-center">
        <div class="row">
          <h1 class="img-text display-1">08 Août 2026</h1>
          <img src="img/main-img.jpg" alt="" class="img-fluid main-img" />
        </div>
      </div>
    </div>

    <div id="mariage" class=" section">
      <div class="container left-text my-3">
        <div class="row section-title">
          <div class="col text-center mb-sm-4">
            <h2 class="double-word">Notre Mariage</h2>
          </div>
        </div>

        <div class="row justify-content-evenly align-items-end mx-auto">
          <div class="col-md border-f pb-4 pb-lg-0 col-lg-4">
            <p class="text-align-left mt-2 section-text">
              C’est avec une grande joie que nous vous annonçons notre mariage.
              La cérémonie traditionnelle aura lieu le samedi 1er août 2026 à
              Abidjan, et le mariage civil se tiendra le 8 août 2026 à
              Ouagadougou. Nous serions très heureux de célébrer ces moments
              uniques entourés de ceux que nous aimons. Votre présence est le
              plus beau des cadeaux.
            </p>
          </div>
          <div class="col-lg-6 border-v d-flex justify-content-center">
            <img src="/img/couple-2.JPG" class="img-fluid couple-img" alt="" />
          </div>
        </div>
      </div>

      <div id="gift" class="container right-text my-3 mt-5">
        <a class="anchor" id="gift-anchor"></a>
        <div class="row">
          <div class="col text-center mt-sm-4 mb-md-3">
            <h2 class="double-word">Cadeaux</h2>
          </div>
        </div>

        <div class="row justify-content-evenly align-items-end mx-auto">
          <div
            class="col-lg-6 d-flex justify-content-sm-center justify-content-lg-start border-v left order-2 order-sm-1"
          >
            <img src="/img/couple-3.png" class="img-fluid  couple-img" alt="" />
          </div>

          <div class="col-md border-f right col-lg-4 pb-4 pb-lg-0 order-1 order-sm-2">
            <p class="text mt-2 section-text">
              Si vous le souhaitez, nous privilégions les dons en espèces, ou
              une contribution à l’organisation du mariage via notre liste de
              souhaits, puisque nous vivons à l'étranger. Toute participation
              est entièrement volontaire. Merci du fond du cœur pour votre amour
              et votre soutien. Nous avons hâte de partager ce bonheur avec
              vous!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container section " >
      <div class="row row-cols-2 g-4">
        <div class="col pe-sm-4 d-flex justify-content-end pb-3">
          <div
            class="container m-0 d-flex justify-content-center align-items-end bg-img"
          >
            <div class="container gx-2 gift-text-v2 mb-4">
              <div class="row">
                <div class="col-12 mb-2">
                  <div class="text-center">photographer</div>
                </div>
              </div>

              <div
                class="row mx-1 justify-content-between align-items-center pb-2"
              >
                <div class="col-4">
                  <div class="price">50$</div>
                </div>
                <button
                  class="col-4 d-flex justify-content-center align-items-center circle-shape plus-btn"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col ps-sm-4 d-flex justify-content-start pb-3">
          <div
            class="container m-0 d-flex justify-content-center align-items-end bg-img"
          >
            <div class="container gx-2 gift-text-v2 mb-4">
              <div class="row">
                <div class="col-12 mb-2">
                  <div class="text-center">photographer</div>
                </div>
              </div>

              <div
                class="row mx-1 justify-content-between align-items-center pb-2"
              >
                <div class="col-4">
                  <div class="price">50$</div>
                </div>
                <button
                  class="col-4 d-flex justify-content-center align-items-center circle-shape plus-btn"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col pe-sm-4 d-flex justify-content-end pb-3">
          <div
            class="container m-0 d-flex justify-content-center align-items-end bg-img"
          >
            <div class="container gx-2 gift-text-v2 mb-4">
              <div class="row">
                <div class="col-12 mb-2">
                  <div class="text-center">photographer</div>
                </div>
              </div>

              <div
                class="row mx-1 justify-content-between align-items-center pb-2"
              >
                <div class="col-4">
                  <div class="price">50$</div>
                </div>
                <button
                  class="col-4 d-flex justify-content-center align-items-center circle-shape plus-btn"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col ps-sm-4 d-flex justify-content-start pb-3">
          <div
            class="container m-0 d-flex justify-content-center align-items-end bg-img"
          >
            <div class="container gx-2 gift-text-v2 mb-4">
              <div class="row">
                <div class="col-12 mb-2">
                  <div class="text-center">photographer</div>
                </div>
              </div>

              <div
                class="row mx-1 justify-content-between align-items-center pb-2"
              >
                <div class="col-4">
                  <div class="price">50$</div>
                </div>
                <button
                  class="col-4 d-flex justify-content-center align-items-center circle-shape plus-btn"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col">
          <button class="btn btn-primary give-btn">Offrir</button>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row text-center">
        <h2 class="single-word">Programme</h2>
        <a class="anchor" id="program-anchor"></a>
      </div>

      <div class="row program-row left" style="position: relative">
        <div class="col">
          <div class="vertical-line-v2"></div>
          <div class="circle-line"></div>
          <div class="circle-dash"></div>

          <div class="container program-text">
            <div class="mx-2 row">
              <div class="col-5">
                <h4 class="">Église</h4>
              </div>
            </div>
            <div class="mx-2 row">
              <div class="col-5">
                <p class="">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Alias odio,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row program-row right" style="position: relative">
        <div class="col">
          <div class="vertical-line-v2"></div>
          <div class="circle-line"></div>
          <div class="circle-dash right"></div>

          <div class="container program-text">
            <div class="mx-2 row justify-content-end">
              <div class="col-5">
                <h4 class="text-end">Mairie</h4>
              </div>
            </div>
            <div class="mx-2 row justify-content-end">
              <div class="col-5">
                <p class="text-end">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Alias odio,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row program-row left" style="position: relative">
        <div class="col">
          <div class="vertical-line-v2"></div>
          <div class="circle-line"></div>
          <div class="circle-dash"></div>

          <div class="container program-text">
            <div class="mx-2 row">
              <div class="col-5">
                <h4 class="">Réception</h4>
              </div>
            </div>
            <div class="mx-2 row">
              <div class="col-5">
                <p class="">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Alias odio, lore
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </body>

  
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center px-4 py-4 border-top"
    
  >
    <p class="col-md-4 mb-0 text">L+S</p>


    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="#" class="nav-link px-2">Accueil</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">Invités</a>
      </li>
      <li class="nav-item">
        <a href="#program-anchor" class="nav-link px-2">Programme</a>
      </li>
      <li class="nav-item">
        <a href="#gift-anchor" class="nav-link px-2">Cadeaux</a>
      </li>
    </ul>
  </footer>
  

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
</html>
