<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Légende+Sheridan</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oranienbaum&family=Pinyon+Script&family=Qwitcher+Grypen:wght@400;700&family=The+Nautigal:wght@400;700&family=Whisper&family=WindSong:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <!-- Fonts -->

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!-- Bootstrap -->

      <!-- JQuery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- JQuery CDN -->

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <!-- Icons -->

    <!-- Styles -->
    <link rel="stylesheet" href="/styles/give.css" />
    <!-- Styles -->
  </head>

  <body>
    <div class="m-nav">
      <div class="container text-center">
        <div class="row pb-2">
          <div class="col pt-4">
            <a href="/">
              <h1 class="display-1 main-heading">Légende + Sheridan</h1>
            </a>
          </div>
        </div>
        <div class="row w-75 mx-auto align-items-center mb-3">
          <div class="col nav-button">
            <a href="/invitees">
              Invités
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-down-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
                />
              </svg>
            </a>
          </div>
          <div class="col nav-button">
            <a href="#program-anchor">
              Programme
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-down-fill"
                viewBox="0 0 16 16"
                `
              >
                <path
                  d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
                />
              </svg>
            </a>
          </div>
          <div class="col nav-button">
            <a href="#gift-anchor">
              Cadeaux
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-caret-down-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-12 col-md">
          <h2>Merci de ton geste</h2>
          <p class="">
            Pour nous faire une donation, vous pouvez utiliser l'un des moyens
            de paiement ci-dessous :
          </p>
        </div>
        <div class="col-sm-12 mb-4 col-md">

            <div class="container d-flex flex-column justify-content-center" >
              <div class="row d-flex justify-content-center gap-payment">
                
                <div
                id="wave-btn"
                  class="col-8 rounded-3 px-3 d-flex flex-row justify-content-center align-items-center"
                  style="background-color: #20c8fe"
                >
                  <img
                    class="me-2"
                    width="60"
                    src="https://images.sftcdn.net/images/t_app-icon-s/p/3d62c2ba-88f3-4973-87c1-1a156a52a1a6/1724688045/wave-mobile-money-logo"
                    alt=""
                  />
                  <p style="color: white; margin: 0; font-size: x-large">
                    Wave
                  </p>
                </div>
                

                    <div
                      class="col-8 rounded-3 d-flex flex-row justify-content-center align-items-center"
                      style="background-color: #f0eeee"
                    >
                      <img
                        class="me-2 h-50"
                        height=""
                        width="60"
                        src="/img/PYPL.svg"
                        alt=""
                      />
                      <p style="color: black; margin: 0; font-size: x-large">
                        Paypal
                      </p>
                    </div>

                <div
                id="orange-money-btn"
                  class="col-8 rounded-3 px-3 d-flex flex-row justify-content-center align-items-center"
                  style="background-color: #fff6f6; min-height: 70px"
                >
                  <img
                    class="me-2"
                    width="60"
                    src="https://1000logos.net/wp-content/uploads/2021/02/Orange-Money-emblem-500x228.png"
                    alt=""
                    height=""
                  />
                  <p
                    style="
                      color: black;
                      margin: 0;
                      text-align: center;
                      font-size: large;
                    "
                  >
                    Orange Money
                  </p>
                </div>
                <div
                id="interac-btn"
                  class="col-8 py-2 rounded-3 px-3 d-flex flex-row justify-content-center align-items-center"
                  style="background-color: #fdb912"
                >
                  <img
                    class="me-2"
                    width="60"
                    src="https://upload.wikimedia.org/wikipedia/commons/3/31/InteracLogo.svg"
                    alt=""
                  />
                  <p style="color: black; margin: 0; font-size: x-large">
                    Interac
                  </p>
                </div>
              </div>
            </div>

        </div>
        <div class="col-sm-12 my-4 payment-info col-md">
            <div id="wave" class="d-none container payment-container d-flex flex-column justify-content-evenly align-items-center">
                <div class="row">
                    <div class="col">
                        <h3>Détails Wave: </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><b>Numéro de téléphone:</b> +1 343 434 5455</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><b>Nom:</b> Moussa Zombré</p>
                    </div>
                </div>
            </div>
            <div id="orange-money" class="d-none container payment-container d-flex flex-column justify-content-evenly align-items-center">
                <div class="row">
                    <div class="col">
                        <h3>Détails Orange Money: </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><b>Numéro de téléphone:</b> +1 343 434 5455</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><b>Nom:</b> Moussa Zombré</p>
                    </div>
                </div>
            </div>
            <div id="interac" class="d-none container payment-container d-flex flex-column justify-content-evenly align-items-center">
                <div class="row">
                    <div class="col">
                        <h3>Détails Interac: </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><b>Numéro de téléphone:</b> +1 343 434 5455</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><b>Adresse e-mail:</b> sheridan@test.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><b>Nom:</b> Moussa Zombré</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md main-img"></div>
      </div>
    </div>
  </body>
    <footer
    class="d-flex flex-wrap justify-content-between align-items-center px-4 py-4 border-top"
    
  >
    <p class="col-md-4 mb-0 text">L+S</p>


    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="#" class="nav-link px-2">Accueil</a>
      </li>
      <li class="nav-item">
        <a href="/invitees" class="nav-link px-2">Invités</a>
      </li>
      <li class="nav-item">
        <a href="#program-anchor" class="nav-link px-2">Programme</a>
      </li>
      <li class="nav-item">
        <a href="#gift-anchor" class="nav-link px-2">Cadeaux</a>
      </li>
    </ul>
  </footer>
  

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="js/give.js"></script>
</html>
